<section id="dashboard">
    <div class='main-content dashboard-content clearfix'>
      <div class="container">

          <div class='col-xs-12 profilesection'>
            <div class='profile-tag clearfix'>
            <img class='img-circle avatar' src="https://api.adorable.io/avatars/146/{{user.email}}.png" alt="Profile picture">
            <span class='clearfix'>
              <h2>{{user.name}}</h2>
              <h3>WISHLIST YOUNGLING</h3>
            </span>
            </div>
        <!-- <h1 class='text'><img class='img-circle avatar' src="https://api.adorable.io/avatars/146/{{user.email}}.png" alt=""> Welcome {{user.name}}! Here you can add your wishlists.</h1> -->
        </div>

        <div class='col-lg-4 col-xs-6 margin-top-100 wish-card-wrap' ng-repeat="wishlist in wishlists">
          <div class='wish-card'>
            <a href="">
            <div class='titles'>
              <span>
                <h2>{{wishlist.name}}</h2>
                <h4>WISHES</h4>
              </span>
            </div>
            </a>
          </div>
        </div>
        <div class='row'>
          <div class='col-xs-12 dashboard-info'>
            <object class='arrow-dashboard' data="resources/images/arrow-dashboard.svg" type="image/svg+xml" width="70px" height="auto">
            </object>
            <h2>Here you can find your wishlists. Click this button to add more!    <button class='btn btn-circle yellow'><i class="fa fa-plus" aria-hidden="true"></i></button></h2>
          </div>
        </div>

      </div>
    </div>
</section>
