<section id="dashboard">
    <div class='main-content clearfix'>
      <div class="container">
        <h1 class='text-center'>Welcome {{user.name}}! Here you can add your wishlists.</h1>
        <div class='col-lg-4 col-xs-6 margin-top-100 wish-card-wrap' ng-repeat="wishlist in wishlists">
          <div class='wish-card'>
            <div class='titles'>
              <span>
                <h2>{{wishlist.name}}</h2>
                <h4>WISHES</h4>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
