<section id="register">
  <div class='main-content clearfix'>
    <div class='container-fluid'>
      <div class="row">
      <div class="col-lg-6 col-lg-offset-6">
        <div class="register-form relative">
          <form class='relative' action="">
          <h1 class="text-center">Register now.</h1>
          <div class="group center">
            <input class="inputMaterial center" type="text" required>
            <span class="highlight center"></span>
            <span class="bar center"></span>
            <label class='center'>Email</label>
          </div>
          <div class="group center">
            <input class="inputMaterial center" type="password" required>
            <span class="highlight center"></span>
            <span class="bar center"></span>
            <label class="center">Password</label>
          </div>
          <button class='button type-2 register'>JOIN US</button>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>

</section>
