.yellow {


}

section#register{
  background: url(/resources/images/register.png) no-repeat center center;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100%;

}

p.switch {
  margin-top: 10px;
  font-size: 0.8em;
  padding-left: 50px;
}

.yellow-form {
  padding: 15px 20px;
  margin-left: 75px;
  margin-right: 75px;
  height: 525px;
  background-color: $color-main;
  position: relative;
  top: 100px;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  &.new-wishlist {
    top: 0px;
    height: 300px;

    label {
      left:250px;
    }
  }

  &.normal {

    &.new-wishlist {
      label {
        left:170px;
      }

      /* active state */
      .inputMaterial:focus ~ label, .inputMaterial:valid ~ label, .inputMaterial:not(:placeholder-shown) ~ label 		{
        top:-20px;
        left: 150px;
        font-size:14px;

        color:white;
      }
    }
    margin-left: 0px;
    margin-right: 0px;

    label 				 {
      color:white;
      font-size:18px;
      font-weight:normal;
      position:absolute;
      pointer-events:none;
      left:100px;
      top:10px;
      transition:0.2s ease all;
      -moz-transition:0.2s ease all;
      -webkit-transition:0.2s ease all;
      min-width: 90px;
    }

    /* active state */
    .inputMaterial:focus ~ label, .inputMaterial:valid ~ label, .inputMaterial:not(:placeholder-shown) ~ label 		{
      top:-20px;
      left: 100px;
      font-size:14px;

      color:white;
    }
  }

  h1, h2, h3, p {
    color: white;
    font-family: $font-secundary;
  }

  .group {
    position:relative;
  margin-top: 40px;
  }

  .inputMaterial 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:80%;
  border:none;
  border-bottom:2px solid #ffffff;
  background-color: $color-main;
}



.inputMaterial:focus 		{ outline:none;}

/* LABEL ======================================= */

label 				 {
  color:white;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:115px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
  min-width: 90px;
}

/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label, .inputMaterial:not(:placeholder-shown) ~ label 		{
  top:-20px;
  left: 117px;
  font-size:14px;

  color:white;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:600px; }



/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
  width:100%;
}


/* active state */
.inputMaterial:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
}

a {
  cursor: pointer;
}

.has-error {

    input.ng-invalid, input.ng-dirty {
      border-bottom: 2px solid rgba(201, 22, 22, 0.71);
    }
}

.register-form img{
  display: block;
  margin: auto;
  position: absolute;
  top: 10px;
}










section#login {
  background: url(/resources/images/background-art-2.svg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;

}

section#friends {
  .wishlist-section {
    min-height: 100vh;

    .profile-info {
      h1,h2,h3,p,span {
        font-size: 0.9em;
      }

    }
  }

}
