
.relative {
  position: relative;
}

.button-container {
  @media only screen and (min-width: 768px) {
  top: 600px;
  position: relative;
  }
}

button[disabled], html input[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.button {
  &.center {
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  @media only screen and (min-width: 768px) {
    &.float-right {
      float: right;
    }

    &.float-left {
      float: left;
    }
    &.center {
      left: 0%;
      transform: translate(-0%);
    }
  }


  &.type-1 {
    font-weight: 600;
    height: 50px;
    min-width: 200px;
    border-radius: 50px;
    border: 1px solid #ef6e30;
    background-color: #ef6e30;
    color: white;
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;


    &:hover {
      background-color: white;
      border: 1px solid #ef6e30;
      color: #ef6e30;
    }
  }

  &.type-2 {
    font-weight: 600;
    height: 50px;
    min-width: 200px;
    border-radius: 50px;
    background-color: white;
    border: 1px solid #ef6e30;
    color: #ef6e30;

    text-transform: uppercase;
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;




    &:hover {
      border: 1px solid #ef6e30;
      background-color: #ef6e30;
      color: white;
    }

    &.register {
      font-family: $font-secundary;
      margin-top: 45px;
      font-size: 0.9em;

      left: -10%;
      border: none;
      transform: translate(8%);
      width: 87%;
      border-radius: 5px;
    }


  }




}
