section#dashboard {
  background: url(/resources/images/background-art-2.svg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: auto;

  h1,h2,h3, p {
    color: $color-theme-2 !important;
    font-family: $font-secundary;
  }

  .dashboard-content {

  }

  .profilesection {
    padding-left: 30px;
    padding-right: 30px;
  }
  .profile-tag {
    img {
      float: left;
    }
    span {
      position: relative;
      display: inline;
      float: left;
      margin-left: 20px;
      margin-top: -10px;
    }
    h2, h3 {
      display: block;
    }
    h3 {
      color: $color-main !important;
      font-family: 'Arial';
      display: block;
    }

  }
}

.arrow-dashboard {
  position: relative;
  left: -30px;
}

.dashboard-info .arrow-dashboard, .dashboard-info h2 {
  display: inline-block;
}

.friend-ref > button {
  margin-right: 50px;
}

.empty-wishlist-message {
  color: $color-main;
  font-family: $font-secundary;
  font-weight: bolder;
  min-height: 400px;
  button {
    top: 150px;
    left: 40%;
  }
  h2 {

  }
}
