<section id='wishlist'>
<div class='container wishlist-section '>
  <div class='row'>
    <div class='col-xs-12'>
    <div class='profile-bar clearfix'>
    <img class='img-circle avatar' src="https://api.adorable.io/avatars/146/{{owner.email}}.png" alt="Profile picture of wishlist owner">
    <div class='profile-info clearfix'>
    <h1 class='headtitle'>This is {{owner.name}}'s {{wishlist.name}} wishlist.</h1>
    <h2 class='headtitle'>Help {{owner.name}} by adding more!</h2>
    </div>
    <div ng-show='!sameUser' class='add-button'>
    <!-- <div class='add-button'> -->
      <button ng-click='openModalNewItemOnWishlist()' class='btn btn-circle white'><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
    </div>
    </div>
    <div ng-show='wishlistEmpty' class='col-xs-12 margin-top-100 empty-wishlist-message relative'>
      <h1 class='text-center'>This wishlist seems rather empty!<br></h1>
      <h3 class='text-center'>Go forth and help {{owner.name}} out by adding wishes!</h3>
      <h4 class='text-center'>(You need to be logged in.)</h4>
    </div>
    <div class='cat-1' ng-repeat="item in items">
      <div class='col-xs-12 col-lg-{{item.colSpan}} a-overlay'>
        <a href="{{ item.url }}" class=''>
        <div class='item-outer'>
        <div class='item-info'>
          <div class='item-info-inner'>
          <h1>{{item.name}}</h1>
          <h2>{{item.category}}</h2>
          <h3>$ {{item.price}}</h3>
          <span class='added-by'>Added by: {{item.user_id}}</span>
          </div>
        </div>

        <!-- <div class='item' style="background-image:url('http://i.imgur.com/XRCFUEE.jpg');"> -->
        <div class='item' style="background-image:url('{{ $root.UPLOAD_URL }}uploads/products/{{ item.photo[0].name }}');">
          </div>
        </div>
        </a>
      </div>
    </div>
</div>
</section>
