<section id='wishlist'>
<div class='container wishlist-section '>
  <div class='row'>
    <h1 class='text-center headtitle'>Check out the wishes below!</h1>
    <div class='cat-1' ng-repeat="item in items">
      <div class='col-xs-12 col-lg-{{item.colSpan}}'>
        <a href="{{ item.url }}" class='a-overlay'>
        <div class='item-outer'>
        <div class='item-info'>
          <div class='item-info-inner'>
          <h1>{{item.name}}</h1>
          <h2>{{item.category}}</h2>
          <h3>$ {{item.price}}</h3>
          <span class='added-by'>Added by: {{item.user_id}}</span>
          </div>
        </div>
        <div class='item' style="background-image:url('http://i.imgur.com/XRCFUEE.jpg');">
          </div>
        </div>
        </a>
      </div>
    </div>
</div>
</section>
