<nav id="nav-main">
  <div class='container-fluid'>
    <div class="navbar-header">
      <a class="navbar-brand"><img ng-src="./resources/images/WISHRv6.png" class='img-responsive' alt="mowly-logo"></a>
    </div>
    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <div class="button_container" id="toggle">
          <span class="top"></span>
          <span class="middle"></span>
          <span class="bottom"></span>
        </div>
        <!-- <li ><a  [routerLink]="['']">HOME</a></li> -->
        <!-- <li ><a  [routerLink]="['/business']">MENU</a></li> -->
      </ul>
    </div><!--/.nav-collapse -->
    <div class="overlay" id="overlay">
      <nav class="overlay-menu">
        <ul>
          <li ><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Scrambler</a></li>
          <li ng-if="loggedIn()"><a href="#/login">My wishlists</a></li>
          <li ng-if="loggedIn()"><a href="#/login">Log out</a></li>
        </ul>
      </nav>
    </div>
  </div>
  </div>
</nav>
